data/config.php

uploads/big/*
uploads/import/*
uploads/medium/*
uploads/small/*
uploads/thumb/*

dist/user.css
dist/frame.js

!uploads/big/index.html
!uploads/import/index.html
!uploads/medium/index.html
!uploads/small/index.html
!uploads/thumb/index.html

plugins/*

!plugins/Diagnostics/
!plugins/Log/

vendor/*

npm-debug.log

Lychee-v*
